# System/editor related stuff
idea/*
__pycache__/
# Local files
logs/
data/*
plots/*
.utils/adv_examples/*
tests/results/*


# unnecessary files
*.pkl
*.log
*.xml
*.pyc
*.iml
*.ckpt
*.csv
*.html
*.jpg
gen_graph.py
graphics.py
Initializers_stability.py
performances_data.py





